@charset "utf-8";

.i {
    display: inline-block;
}

.i-close {
    background: url(../img/ico/i-close.svg);
    height: 24px;
    width: 24px;
}

.i-user {
    background: url(../img/ico/i-user-check.png);
    height: 16px;
    width: 16px;
}

.i-clock {
    background: url(../img/ico/i-clock.png);
    height: 16px;
    width: 16px;
}

.i-menu {
    background: url(../img/ico/i-menu.png);
    height: 24px;
    width: 24px;
}

.i-trg-down {
    background: url(../img/ico/i-trg-down.png);
    background-size: cover;
    height: 8px;
    width: 8px;
}

.i-trg-up {
    background: url(../img/ico/i-trg-up.png);
    background-size: cover;
    height: 8px;
    width: 8px;
}