/*
 * File       : styles_sub.css
 * Date       : 2023. 10. 22.
 *
 */


 /* **************************************** *
 * in & logo
 * **************************************** */
.i.i-reset-bk{
    background-image: url(../img/ico/i-reset-bk.png);
    width: 16px;
    height: 16px;
}
.i.i-reset-wh{
    background-image: url(../img/ico/i-reset-wh.png);
    width: 16px;
    height: 16px;
}
.i.i-arrow-left{
    background-image: url(../img/ico/i-arrow-left.png);
    width: 10px;
    height: 10px;
}
.i.i-message{
    background-image: url(../img/ico/i-message.png);
    width: 16px;
    height: 16px;
}
.i.i-power{
    background-image: url(../img/ico/i-power.png);
    width: 16px;
    height: 16px;

}
.i.i-search{
    background-image: url(../img/ico/i-search.png);
    width: 16px;
    height: 16px;

}
.i.i-qustion{
    background-image: url(../img/ico/i-qustion.png);
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.i.i-file{
    background-image: url(../img/ico/i-file.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.i.i-circle-close{
    background-image: url(../img/ico/i-circle-close.png);
    width: 16px;
    height: 16px;
}
/* **************************************** *
 * flex
 * **************************************** */
.d-flex{
    display: flex;
    flex-direction: row !important;
}
.y-flex{
    display: flex;
    flex-direction: column !important;
}
.aic{
    align-items: center;
}
.aie{
    align-items: flex-end;
}
.ais{
    align-items: flex-start;
}
.jcsb{
    justify-content: space-between;
}
.jcsa{
    justify-content: space-around;
}
.jcc{
    justify-content: center;
}
.jcfe{
    justify-content: flex-end;
}
.jcfs{
    justify-content: flex-start;
}
.f1{
    flex: 1;
}


/* **************************************** *
 * Common2
 * **************************************** */
hr{
    width: 100%;;
    border: 1px solid #EBEBEB;
}
.bg-white{
    background-color: #ffffff;
}
.f-primary{
    color: #004F9D;
}
.hidden{
    display: none;
}

.tl{
    text-align: left !important;
}
.tr{
    text-align: right !important;
}
.tc{
    text-align: center !important;
}

.bread-crumb{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #999999;
    font-size: 13px;
    line-height: 18px;
}
.bread-crumb li:last-child{
    color: #000000;
}

.btn-wrap{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.bd-gray{
    border-color: #666666;
}
.bd-lgray{
    border-color: #dddddd;
}
.bbt-gray{
    border-bottom: 1px solid #666666;
}
.bbt-lgray{
    border-bottom: 1px solid #dddddd;
}

.none-border{
    border: none;
}

/* **************************************** *
 * Margin & padding & gap
 * **************************************** */
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.mt20{
    margin-top: 20px;
}
.mt24{
    margin-top: 24px;
}
.mt32{
    margin-top: 32px;
}
.mt80{
    margin-top: 80px;
}
.mb16{
    margin-bottom: 16px;
}
.mb8{
    margin-bottom: 8px;
}
.mb40{
    margin-bottom: 40px;
}
.mb120{
    margin-bottom: 120px;
}
.mr40{
    margin-right: 40px;
}
.ml48{
    margin-left: 48px;
}
.pt8{
    padding-top: 8px;
}
.pb16{
    padding-bottom: 16px;
}
.pt64{
    padding-top: 64px;
}
.pt80{
    padding-top: 80px;
}
.g4{
    gap: 4px;
}
.g8{
    gap: 8px;
}
.g16{
    gap: 16px;
}
.g20{
    gap: 20px;
}
.g25{
    gap: 25px;
}
.g32{
    gap: 32px;
}
.g40{
    gap: 40px;
}


.pa4864{
    padding: 48px 64px;
}
.pa4048{
    padding: 40px 48px;
}
.pa4056{
    padding: 40px 56px;
}
.pa3240{
    padding: 32px 40px;
}


/* **************************************** *
 * GEPS-WEB-BIV-CU01 & GEPS-WEB-SER-ME04
 * **************************************** */
.options-wrap .input-group,
.options-wrap .date-group,
.options-wrap .line-group,
.options-wrap .radio-wrap,
.options-wrap .check-wrap,
.options-wrap .dropdown-group{
    flex-direction: row !important;
    gap: 40px;
}
.options-wrap .input-group label,
.options-wrap .date-group h2,
.options-wrap .line-group h2,
.options-wrap .radio-wrap h2,
.options-wrap .check-wrap h2,
.options-wrap .dropdown-group h2{
    width: 104px;
    height: 46px;
    font-size: 15px;
    line-height: 46px;
    color: #000000;
    font-weight: 500;
}
.options-wrap .input-group input{
    flex: 1;
}
.count-wrap{
    display: flex;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
.count-wrap .count{
    display: flex;
}
.table-top2{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.table-chk .check-group {
    justify-content: center;
}
.table-chk .check-group label{
    text-indent: -999999em;
    margin-left: 6px;
}
td.tot{
    font-weight: 700 !important;
}
.options-wrapper{
    display: flex;
    gap: 80px;
}
.options-wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

/* **************************************** *
 * GEPS-WEB-BIV-CU01 & GEPS-WEB-STA-BV01
 * **************************************** */
.search-wrapper{
    padding: 80px 0;
}
.search-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.search-wrap .legend{
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.form{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

/* **************************************** *
 * GEPS-WEB-SER-NO01
 * **************************************** */
.table-top3{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}
.table-top3 .dropdown-group{
    width: 408px;
    gap: 8px;
}
.table-top3 .dropdown-list-wrap{
    width: 100px;
}

.search-drop{
    display: flex;
    justify-content: space-between;
}

.search-drop .dropdown-group .dropdown-list-wrap .dropdown-button{
    height: 36px;
}
.search-drop .search{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.search input[type=text]{
    font-size: 14px;
    line-height: 34px;
    padding: 0 12px 0 16px;
}
.search .btn-search{
    background-color: transparent;
    padding: 0;
    width: 34px;
    height: 34px;
}
.search input::placeholder{
    color: #AAAAAA;
}
.search-drop .btn-search{
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.division span{
    font-size: 12px !important;
    line-height: 16px;
    border: solid 1px;
    padding: 2px 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.division.div-common span{
    border-color: #999999;
    color: #444444;
}
.division.div-supply span{
    border-color: #F75D5F;
    color: #F75D5F;
}
.division.div-tenure span{
    border-color: #3B89FE;
    color: #3B89FE;
}

.file-wrap.true button{
    display: block;
    border: none;
    background-color: transparent;
}
.file-wrap.true span{
    display: none;
}
.file-wrap.false button{
    display: none;
}
.file-wrap.false span{
    display: block;
}

/* **************************************** *
 * GEPS-WEB-SER-NO02 & GEPS-WEB-SER-FA02
 * **************************************** */
form.write-wrap{
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.write-wrap .input-group,
.write-wrap .dropdown-group,
.write-wrap .multi-wrapper{
    display: flex;
    flex-direction: row !important;
    gap: 40px;
}
.write-wrap .input-group label,
.write-wrap .dropdown-group h2,
.write-wrap .multi-wrapper h2{
    width: 104px !important;
    line-height: 46px;
    font-size: 15px;
    font-weight: 500;
}
.write-wrap .input-group input{
    flex: 1;
}

/* **************************************** *
 * GEPS-WEB-SER-PO01
 * **************************************** */
.img-table tbody tr td{
    height: 124px;
}
.img-table .table-img{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}
.img-table img{
    height: 100%;
}
.manage-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 25px; */
    width: 100%;
    position: relative;
}
.manage-btn-group::after{
    position: absolute;
    content: '';
    border-right: 1px solid #dddddd;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.manage-btn-group button{
    border: none;
    background: transparent;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
}
.manage-btn-group button.modify{
    color: #666666;
}
.manage-btn-group button.delete{
    color: #E34140;
}

/* **************************************** *
 * GEPS-WEB-SER-ME04
 * **************************************** */
h4.title{
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.form-border-lgray .options-wrap{
    border: 1px solid #dddddd;
}
.count-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}
.count-wrapper .count-wrap{
    display: flex;
    align-items: center;
    color: #000000;
    gap: 2px;
}
.count-wrapper .count-wrap li:first-of-type{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.count-wrapper .count-wrap li:last-of-type{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.line-group{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.line-group .line-wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.line-group .line-wrap input[type=text]{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 16px;
    transition: all .5s;
}
.line-group .line-wrap input[type=text]::placeholder{
    color: #AAAAAA;
}
span.cc{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.line-group .line-wrap .btn-wrap{
    justify-content: flex-start;
    gap: 8px;
}
.title-style1{
    padding-bottom: 16px;
    border-bottom: 1px solid #1C2C49;
}
.multi-wrap{
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
}
.date-group .date-time-wrap {
    align-items: center;
    display: flex;
    gap: 4px;
    width: 100%;
}
.date-group .date-time-wrap .dropdown-button{
    width: 86px;
}
.date-group .date-time-wrap input[type=date]{
    width: 178px;
}

/* **************************************** *
 * GEPS-WEB-SER-ME03
 * **************************************** */
.table-top4{
    display: flex;
    align-items: center;
}
.table-top4 .dropdown-group .dropdown-list-wrap .dropdown-button, .table-top4 button{
    height: 36px;
}
.table-top4 .dropdown-group .dropdown-list-wrap .dropdown-button{
    width: 100px;
}
.table-top4 .btn-w76{
    width: 76px;
}

.col-table th.bg-white, .col-table thead{
    border-top: 1px solid #ddd;
}
.col-table th.bg-white, .col-table th.bg-white{
    background: #ffffff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    height: 56px;
}
.col-table th.bg-white, .col-table td{
    padding: 12px 24px;
}
.col-table th.bg-navy, .col-table td.bg-navy{
    background: #1C2C49;
    border: 1px solid #3E4B64;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 56px;
    position: sticky;
    top: 0;
}
.col-table td.main-text{
    height: 166px;
}
.col-table td.main-text > div{
    height: inherit;
}

/* **************************************** *
 * GEPS-WEB-SER-TE01
 * **************************************** */
.tab-style2 .tab-wrap ul{
    gap: 0;
}
.tab-style2 .tab-wrap ul li{
    flex: 1;
    background-color: #F4F5F7;
}
.tab-style2 .tab-wrap ul li a{
    text-align: center;
}

/* **************************************** *
 * GEPS-WEB-SER-GU01
 * **************************************** */
.flex-btn {
    flex: 1;
    /* height: 56px; */
}
.flex-btn button{
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.table-wrap2 .basic-table.type2 tbody tr td{
    border-right: 1px solid #dddddd;
    padding: 12px 24px;
}
.table-wrap2 .basic-table.type2 tbody tr td:last-of-type{
    border-right: none;
}

.guide-list{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.guide-list ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.guide-list ul li{
    padding-left: 11px;
    position: relative;
}
.guide-list ul li::after{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background-color: #999999;
}

.edit-input{
    gap: 0;
}
.edit-input.active{
    border: 1px solid #004F9D;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.edit-input .editbtn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-input .editbtn-wrapper input{
    flex: 1;
    border: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.edit-input .editbtn-wrapper input:focus,
.edit-input .editbtn-wrapper input:hover{
    border: none;
}
.edit-input .editbtn-wrapper input:focus,
.edit-input .editbtn-wrapper input:hover{
    border: none;
}
.editbtn-wrap .editbtn{
    display: flex;
    position: relative;
}
.editbtn-wrap .editbtn::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    height: 12px;
    border-left: 1px solid #dddddd;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.editbtn-wrap .editbtn button{
    border: none;
    background: transparent;
    padding: 10px;
}
.editbtn-wrap .editbtn button.save{
    overflow: hidden;
    color: #004F9D;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
/* .border-add{
    border: 1px solid #dddddd;
} */
.input_file_warp{
    display: flex;
    gap: 6px;
    height: 40px;
}
.input_file_warp .input-group{
    gap: 0;
    flex: 1;
}
.input_file_warp .input-group input[type=text],
.input_file_warp .file-group label{
    height: 40px;
}

/* **************************************** *
 * GEPS-WEB-SER-SE01
 * **************************************** */
.table-input-modal-btn{
    height: 100%;
}
.table-input-modal-btn button{
    border: none;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    height: inherit;
    background-color: transparent;
    text-decoration: underline;
}
.modal-content .modal-body form.write-wrap{
    padding: 0;
}
.modal-content .modal-body form.write-wrap .input-group input{
    text-align: left;
}

.app-name-group .app-wrap .app-top .app-name-wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap{
    display: flex;
    gap: 16px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap i,
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap2 i{
    width: 40px;
    height: 40px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap .app-name p:first-of-type,
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap2 .app-name-left .app-name p{
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap .app-name p:last-of-type{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    gap: 4px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-ver-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-ver-wrapper .app-ver-wrap{
    gap: 8px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-ver-wrapper ul li:nth-child(1),
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap2 ul li:nth-child(1),
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap2 ul li:nth-child(2){
    border: none;
    padding: 0;
}
.app-ver-wrapper .app-ver-wrap,
.app-ver-wrapper .app-name-wrap2 .app-name-left .app-name ul,
.app-timer{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.app-ver-wrapper .app-ver-wrap li:first-of-type,
.app-name-wrap2 .app-name-left .app-name ul{
    color: #999999;
}
.app-ver-wrapper .app-ver-wrap li:nth-of-type(2){
    color: #000000;
}
.app-ver-wrapper button{
    border: none;
}

/* **************************************** *
 * GEPS-WEB-SER-SE02
 * **************************************** */
.write-wrap-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.write-wrap-top span{
    color: #666666;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.app-name-wrap2{
    display: flex;
    align-items: center;
    gap: 16px;
}
.app-name-wrap2 .app-name-left{
    display: flex;
    gap: 16px;
    width: 160px;
}
.app-name-wrap2 .app-name-right{
    display: flex;
    align-items: center;
    gap: 12px;
}
.app-name-group .app-wrap .app-top .app-name-wrapper .app-name-wrap2 ul{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.desc-14{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.app-timer{
    color: #666666;
}

/* TOGGLE */
.toggle-group label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.toggle-group input[type="checkbox"] {
    appearance: none;
    position: relative;
    background-color: #dddddd;
    border-color: #dddddd;
    border-radius: 15px;
    width: 44px;
    height: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.toggle-group input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: #ffffff;
    transition: left 250ms linear;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, .2);
}
.toggle-group input[type="checkbox"]:checked {
    background-color: #004F9D;
    border-color: #004F9D;
}
.toggle-group input[type="checkbox"]:checked::before {
    background-color: white;
    left: 20px;
}
.toggle-group input[type="checkbox"]:disabled {
    background-color: #dddddd;
    border-color: #dddddd;
    cursor: not-allowed;
}
.toggle-group input[type="checkbox"]:disabled:before {
    background-color: #2B2B2B;
    opacity: 0.3;
}
.toggle-group input[type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}
.toggle-group input[type="checkbox"]:focus-visible {
    outline-offset: 1px;
    outline: 1px solid #004F9D;
}

.basic-table thead tr.double-th th{
    background: #F4F5F7;
    border: solid 1px #dddddd;
    color: #000000;
    color: var(--basic-000000, #000);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}

.basic-table thead tr.double-th th:nth-child(1) {
    border-left: 0;
}

.basic-table thead tr.double-th th:last-child {
    border-right: 0;
}